<mat-sidenav-container class="sidenav-newsale-container">
    <mat-sidenav class="sidenav-checkout" [mode]="'side'" [opened]="true" position="end">
        <app-filter [(data)]="itemsCopy" (onFilter)="onApplyFilter($event)"></app-filter>
    </mat-sidenav>

    <mat-sidenav-content style="position: relative;" >
        <mat-toolbar class="bg-white shadow" style="position: absolute;top:0">
           
            <span class="spacer"></span>
            <app-search (onSearch)="onSearch($event)"></app-search>

            <button mat-icon-button class="mx-2 rounded-lg" (click)="isListView = !isListView">
                <mat-icon class="mat-icon-sm pt-0">{{isListView ? 'view_list' : 'grid_view'}}</mat-icon>
            </button>
            
        </mat-toolbar>
        <app-item [(data)]="items" [(cartItems)]="cart" [(view)]="isListView" (shareCart)="onCartData($event)" [(searchText)]="searchText" ></app-item>
        <app-data-missing-instruction *ngIf="!items?.length" [(instructions)]="newOrderInstruction"></app-data-missing-instruction>
        <mat-toolbar *ngIf="cart?.length"
        class="mat-elevation-z16 " 
        style="position: absolute;bottom: 0;z-index: 15;">                     
            <span class="px-5">{{cart?.length || '0'}} | <small>Item</small></span>
            <span class="px-5">{{getCartTotal() | currency :'INR'}}</span>
            <div class="spacer"></div>
            <button mat-stroked-button class="mr-1" (click)="onResetOrder()" >
                <span class="px-3 fancy-text text-uppercase">Reset</span>
            </button>
            <button mat-button class="bg-green" (click)="onViewCart()" >
                <mat-icon class="mat-icon-sm pt-1">shopping_cart</mat-icon>
                <span class="px-3 fancy-text text-uppercase">Next</span>
            </button>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>