<button mat-button color="acct" [matMenuTriggerFor]="loginHelp" class="bg-ultra-light">
    <small>Apply Discount</small>
</button>
<mat-menu #loginHelp="matMenu" class="layout" (click)="$event.stopPropagation();">
    <h3 class="text-center">Discount</h3>
    
    <mat-list-item (click)="$event.stopPropagation();">
        <mat-form-field class="mr-1" appearance="outline" style="font-size: 10px;width: 48%;">
            <mat-label>Discount In %</mat-label>
            <input matInput type="text" placeholder="%" [(ngModel)]="discountInPercent"
                (ngModelChange)="onDiscountChanged(100,$event,'percent')">
        </mat-form-field>
        
        <mat-form-field class="" appearance="outline" style="font-size: 10px;width: 48%;">
            <mat-label>Discount In ₹</mat-label>
            <input matInput type="text" placeholder="INR" [(ngModel)]="discountInRuppee"
                (ngModelChange)="onDiscountChanged(100,$event,'ruppee')">
        </mat-form-field>
    </mat-list-item>
   
    <div class="d-flex" (click)="$event.stopPropagation();">
        <button mat-button (click)="discountInRuppee = 0;discountInPercent = 0" class="w-50 bg-ultra-light">
            <small class="text-light px-2">Clear</small>
        </button>
        <button mat-button (click)="discountInRuppee = 0;discountInPercent = 0" class="w-50 bg-green">
            <small class="text-white px-2">Apply</small>
        </button>

    </div>
</mat-menu>
