<mat-sidenav-container class="sidenav-newsale-container">
    <mat-sidenav class="sidenav-checkout" [mode]="'side'" [opened]="true" position="end">
        <mat-toolbar class="shadow" style="position: absolute;top: 0;z-index: 5;background: white;">
            <div class="spacer"></div>
            <small>Order Bill</small>
            <div class="spacer"></div>
        </mat-toolbar>
        <div class="d-flex flex-column" style="margin-top: 3rem;">
            <div class="cart-customer-details" *ngIf="currentCustomer?.name">
                <div class="">
                    <figure style="padding: 0;margin:1rem;">
                        <img class="thumbnail-md" src="{{currentCustomer?.photo}}" alt="...">
                    </figure>
                </div>
                <div class="w-100">
                    <mat-list dense class="w-100">
                        <mat-list-item>
                            <small>Name</small>
                            <div class="spacer"></div>
                            <span style="font-weight: 600;">{{currentCustomer?.name || 'Unknown'}}</span>
                        </mat-list-item>
                        <mat-list-item>
                            <small>Phone</small>
                            <div class="spacer"></div>
                            <span style="font-weight: 600;">{{currentCustomer?.phone || 'Unknown'}}</span>
                        </mat-list-item>
                        <mat-list-item>
                            <!-- <small>Address</small>
                            <div class="spacer"></div> -->
                            <span style="font-weight: 600;" class="mr-1">{{currentCustomer?.address ||
                                'Unknown'}}</span>
                        </mat-list-item>
                    </mat-list>
                </div>
            </div>
            <button *ngIf="currentCustomer?.name" mat-button (click)="onUpdateCustomer()" class="w-100 "><small>Change</small></button>



            <mat-accordion class="shadow" style="position: relative;width: inherit;">
                <mat-expansion-panel class="mat-elevation-z0">
                    <mat-expansion-panel-header>
                        <div class="spacer"></div>
                        <small>Apply Discount</small>
                        <div class="spacer"></div>
                    </mat-expansion-panel-header>

                    <mat-form-field class="mr-1" appearance="outline" style="font-size: 10px;width: 48%;">
                        <mat-label>Discount In %</mat-label>
                        <input matInput type="text" placeholder="%" [(ngModel)]="discountInPercent"
                            (ngModelChange)="onDiscountChanged(cartAmount,$event,'percent')">
                    </mat-form-field>

                    <mat-form-field class="" appearance="outline" style="font-size: 10px;width: 48%;">
                        <mat-label>Discount In ₹</mat-label>
                        <input matInput type="text" placeholder="INR" [(ngModel)]="discountInRuppee"
                            (ngModelChange)="onDiscountChanged(cartAmount,$event,'ruppee')">
                    </mat-form-field>
                    <button mat-button (click)="discountInRuppee = 0;discountInPercent = 0" class="w-100 bg-ultra-light">
                        <small class="text-light px-2">clear</small>
                    </button>






                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="question-ref-container ">
            <mat-list dense class="w-100">
                <mat-list-item>
                    <span>Item Total </span>
                    <div class="spacer"></div>
                    <span>{{getCartTotal() | currency :'INR'}}</span>
                </mat-list-item>

                <mat-list-item>
                    <span>Discount</span>
                    <div class="spacer"></div>
                    <span>- {{(discountInRuppee | currency :'INR') || '0'}}</span>
                </mat-list-item>
                <mat-list-item>
                    <span style="font-weight: 600;">Total Pay</span>
                    <div class="spacer"></div>
                    <span style="font-weight: 600;">{{(finalPayableAmount  | currency :'INR') || '...'}}</span>
                </mat-list-item>
            </mat-list>
        </div>
        <mat-toolbar style="position: absolute;bottom: 0;z-index: 5;background: white">
            <!-- <button mat-stroked-button class="bg-ultra-light w-100 mr-1">
                <span class="text-uppercase">Cancel</span>
            </button>
            <button mat-button class="bg-green w-100" (click)="onTakePayment()">
                <span class=" text-uppercase">Take Payment</span>
            </button> -->

        </mat-toolbar>
    </mat-sidenav>

    <mat-sidenav-content style="position: relative;">
        <mat-toolbar class="bg-white shadow" style="position: absolute;top:0">
            <!-- <div class="layout w-100">
                <app-search (onSearch)="getSearchText($event)"></app-search>
            </div> -->
            <span class="spacer"></span>
            <button mat-icon-button class="mx-2 rounded-lg" disabled>
                <mat-icon class="mat-icon-sm pt-0">search</mat-icon>
            </button>
            <button mat-icon-button class="mx-2 rounded-lg" (click)="isListView = !isListView">
                <mat-icon class="mat-icon-sm pt-0">{{isListView ? 'view_list' : 'grid_view'}}</mat-icon>
            </button>
            <button mat-icon-button class="mx-2 rounded-lg" [matMenuTriggerFor]="moreTools">
                <mat-icon class="mat-icon-sm pt-0">more_vert</mat-icon>
            </button>
            <mat-menu #moreTools="matMenu">
                <mat-list dense>
                    <mat-list-item>
                        <mat-icon mat-list-icon>refresh</mat-icon>
                        <span>Refresh</span>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>settings</mat-icon>
                        <span>settings</span>
                    </mat-list-item>
                </mat-list>
            </mat-menu>
        </mat-toolbar>
        <app-item [data]="cart" [cartItems]="cart" [(view)]="isListView" (shareCart)="onCartData($event)"></app-item>
        <mat-toolbar class="mat-elevation-z16 " style="position: absolute;bottom: 0;z-index: 15;">
            <span class="px-5">{{cart?.length || '0'}} | <small>Item</small></span>
            <span class="px-5">{{getCartTotal() | currency :'INR'}}</span>
            <div class="spacer"></div>
            <button mat-stroked-button class="mr-1" routerLink="../">
                <span class="px-3 fancy-text text-uppercase">Back</span>
            </button>
            <button *ngIf="!currentCustomer?.name" mat-button class="bg-green" (click)="onCartNext()">
                <mat-icon class="mat-icon-sm pt-1">person_add</mat-icon>
                <span class="px-3 fancy-text text-uppercase">Next</span>
            </button>
            <button *ngIf="currentCustomer?.name" mat-button class="bg-green" (click)="onCartNext()">
                <span class="px-3 fancy-text text-uppercase">Take Payment</span>
            </button>

        </mat-toolbar>
    </mat-sidenav-content>
</mat-sidenav-container>