<mat-toolbar class="bg-dark rounded-lg dialog-toolbar" style="margin: -24px -24px 24px -24px;padding: 0 .4rem;">
    <button mat-button [mat-dialog-close]="true" class="bg-dark"><span>Cancel</span></button>
    <div class="spacer"></div>
    <small>Change Password</small>
    <div class="spacer"></div>

    <button mat-raised-button class="bg-green">
      
        <small>Change</small>
    </button>
</mat-toolbar>
<div mat-dialog-content class="">
    <div class="">
        <section class="container" style="min-height: 40vh;">
            <div class="d-flex" style="align-items: flex-start;">
               
                <mat-list dense class="w-100">
                    <mat-list-item>
                        <span class="strong text-light">Current Password</span>
                        <div class="spacer"></div>
                        <mat-form-field appearance="outline">
                            <input type="text" matInput >
                        </mat-form-field>
                    </mat-list-item>
                    <mat-list-item>
                        <span class="strong text-light">New Password</span>
                        <div class="spacer"></div>  
                        <mat-form-field appearance="outline">
                            <input type="text" matInput >
                        </mat-form-field>
                    </mat-list-item>
                    <mat-list-item>
                        <span class="strong text-light">Confirm New Password</span>
                        <div class="spacer"></div>
                        <mat-form-field appearance="outline">
                            <input type="text" matInput >
                        </mat-form-field>
                    </mat-list-item>
                    
                    

                </mat-list>
            </div>
        </section>
       
    </div>

</div>