<mat-toolbar class="bg-dark rounded-lg dialog-toolbar" style="margin: -24px -24px 0px -24px;padding: 0 .4rem;">
    <button mat-button [mat-dialog-close]="false" class="bg-dark"><span>Cancel</span></button>
    <div class="spacer"></div>
    <small>Product Details</small>
    <div class="spacer"></div>

    <button mat-raised-button class="bg-green" (click)="onEdit()">
        <small>Edit</small>
    </button>
</mat-toolbar>
<div mat-dialog-content class="">
    <div class="">

        <section class="container" style="min-height: 65vh;">
            <mat-tab-group mat-align-tabs="start" animationDuration="0ms">
                <mat-tab label="Basic">
                    <div style="min-height: 50vh;">
                        <div class="d-flex" style="align-items: flex-start;">
                            <figure style="margin:1rem;">
                                <img src="{{localData?.image || 'assets/images/cool-background.png'}}" alt=""
                                    class="thumbnail-lg">
                            </figure>
                            <mat-list dense class="w-100">
                                <mat-list-item>
                                    <span class="strong text-light">Item</span>
                                    <div class="spacer"></div>
                                    <span class="strong">{{localData?.name | titlecase}}</span>
                                </mat-list-item>
                                <mat-list-item>
                                    <span class="strong text-light">Price</span>
                                    <div class="spacer"></div>
                                    <span class="strong">{{localData?.price | currency : 'INR'}}</span>
                                </mat-list-item>
                                
                                <mat-list-item>
                                    <span class="strong text-light">Discount</span>
                                    <div class="spacer"></div>
                                    <span class="strong">{{(localData?.discountInPercentage || '0')}}% <span>|
                                            {{localData?.discountInRuppee | currency : 'INR'}}</span></span>
                                </mat-list-item>

                                <mat-list-item>
                                    <span class="strong text-light">Brand</span>
                                    <div class="spacer"></div>
                                    <span class="strong">{{localData?.brand?.name || '--'}}</span>
                                </mat-list-item>
                                <mat-list-item>
                                    <span class="strong text-light">Category</span>
                                    <div class="spacer"></div>
                                    <span class="strong">{{localData?.category?.name || 'unknown'}}</span>
                                </mat-list-item>
                                <mat-list-item>
                                    <span class="strong text-light">Length in meter</span>
                                    <div class="spacer"></div>
                                    <span class="strong">{{localData?.length || 'unknown'}}</span>
                                </mat-list-item>

                                
                                <mat-list-item>
                                    <span class="strong text-light">Stock</span>
                                    <div class="spacer"></div>
                                    <span class="strong">{{localData?.stock || 'unknown'}}</span>
                                </mat-list-item>


                            </mat-list>
                        </div>
                    </div>
                </mat-tab>
               
                <mat-tab label="Description">
                    <div style="min-height: 50vh;">
                        <p>{{localData?.description}}</p>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </section>
    </div>

</div>