<mat-toolbar class="bg-dark rounded-lg dialog-toolbar" style="margin: -24px -24px 24px -24px;padding: 0 .4rem;">
    <button mat-button [mat-dialog-close]="false" class="bg-dark"><span>Cancel</span></button>
    <div class="spacer"></div>
    <small>{{action | titlecase}} Brand</small>
    <div class="spacer"></div>
    <button mat-raised-button class="bg-green" (click)="onDone()"><span>{{isLoading? 'Please wait...' :
            'Done'}}</span></button>
</mat-toolbar>
<div mat-dialog-content class="">
    <div class="">
        <div class="d-flex ">
            <div style="margin-bottom: 1rem;">
                <app-photo-upload [(image)]="categoryForm.value.image" (onImageChange)="onImageChange($event)">
                </app-photo-upload>
            </div>
            <form [formGroup]="categoryForm" class="w-100" style="font-size: 12px;">

                <div class="px-5">
                    
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Enter Garment Category</mat-label>
                        <input matInput placeholder="Ex:Sharee" formControlName="name">
                    </mat-form-field>

                    <div *ngFor="let subcat of subCategories">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Enter {{categoryForm.value.name}} Sub Category</mat-label>
                            <input matInput placeholder="Ex:Sharee" formControlName="name">
                        </mat-form-field>
                    </div>
                    
                   
                </div>

            </form>

        </div>
    </div>

</div>