<header>
    <mat-toolbar class="bg-dark">
        <div>
          <button mat-icon-button (click)="goBack()">
            <mat-icon>chevron_left</mat-icon>
          </button>
          <button mat-icon-button (click)="goFarward()">
            <mat-icon>chevron_right</mat-icon>
          </button>
        </div>
        
        <app-breadcrumb></app-breadcrumb>
        
        <!-- <div class="layout w-100">
          <app-search></app-search>
        </div> -->
        <span class="spacer"></span>
        <button mat-stroked-button class="bg-mygradient-primary" >
          <mat-icon class="mat-icon-sm pt-1">dry_cleaning</mat-icon>
          <small class="" style="padding-right: 6px;">{{serviceType | titlecase}}</small>
        </button>
    </mat-toolbar>
  </header>
  