
<mat-sidenav-container class="sidenav-newsale-container">
    <mat-sidenav class="sidenav-checkout" [mode]="'side'" [opened]="true" position="end">
        <!-- <app-filter [(data)]="colors" ></app-filter> -->
        <h3></h3>
        <!-- <div *ngIf="!isNewAddEnable" class="py-2 mb-2">
            <button mat-raised-button class="bg-dark w-100" (click)="isNewAddEnable = true;">
                <mat-icon class="mat-icon-sm pt-1">add</mat-icon>
                <small>Add Brand</small>
            </button>
        </div> -->
        
    
        <div *ngIf="isNewAddEnable" class="inline-edit__form d-flex shadow rounded-lg mb-2"
            style="position: relative;align-items: flex-start;justify-content: space-around;min-width: 50vw;">
            <div class="p-5 w-100 bg-dark rounded-lg d-flex justify-content-between align-items-center">
                <mat-form-field appearance="outline" color="accent" class="w-75" style="font-size: 12px;">
                    <mat-label>Brand</mat-label>
                    <input matInput type="text" [(ngModel)]="newBrand" placeholder="eg:Duke,HRX,Wrogn">
                </mat-form-field>
                <div style="float: right;">
                    <button mat-button (click)="isNewAddEnable = false;"><small>Cancel</small></button>
                    <button mat-raised-button class="bg-green" (click)="onNewBrandSave()"><small>Save</small></button>
                </div>
            </div>
    
        </div>
    </mat-sidenav>

    <mat-sidenav-content style="position: relative;">
        <mat-toolbar class="bg-white shadow" style="position: absolute;top:0">  
            <h3>Colors<small class="text-ultra-light px-2" id="count"></small></h3>
            <span class="spacer"></span>
            <app-search  (onSearch)="onSearch($event)"></app-search>
            
            <button mat-raised-button class="ml-1 rounded-lg bg-green" (click)="onOpenDialog()">
                <mat-icon class="mat-icon-sm pt-1">add_box</mat-icon>
                <small>Add Color</small>
            </button>
           
        </mat-toolbar>
           
          
            <section class="items-container grid-view">
                <mat-list *ngIf="colors?.length" dense class=" rounded-lg w-100 py-2">
                    
                    <mat-list-item *ngFor="let color of colors|filter : searchText;let i=index">
                        <div *ngIf="!color.isEditEnable" class="d-flex align-items-center justify-content-between w-100">
                            <span class="color-box" [style.background]="color.code" ></span>
                            <span spellcheck="false">{{color.name | titlecase }}</span>
        
                            <div>
                                <button mat-icon-button class="text-light" (click)="color.isEditEnable = true">
                                    <mat-icon class="mat-icon-sm pt-0">edit</mat-icon>
                                </button>
                                <button mat-icon-button class="text-light" (click)="onDelete(color)">
                                    <mat-icon class="mat-icon-sm pt-0">delete</mat-icon>
                                </button>
                            </div>
                        </div>
                        <div *ngIf="color.isEditEnable"
                            class="inline-edit__list d-flex align-items-center justify-content-between w-100 mb-2">
                            <div class="d-flex align-items-center">
                                <mat-form-field *ngIf="color.isEditEnable" appearance="outline" class=" pb-0 mr-1"
                                    style="font-size: 12px;padding-bottom: 0;">
                                    <mat-label>{{color.code}}</mat-label>
                                    <input matInput type="color" [(ngModel)]="color.code" name="color_{{color.code}}" value={{color.code}} >
                                </mat-form-field>
                                <mat-form-field *ngIf="color.isEditEnable" appearance="outline" class="w-50 pb-0"
                                    style="font-size: 12px;padding-bottom: 0;">
                                    
                                    <input matInput type="text" [(ngModel)]="color.name" placeholder="eg:Duke,HRX,Wrogn">
                                </mat-form-field>
                            </div>
                            <div>
                                <button mat-button class="text-light mr-1" (click)="color.isEditEnable = false">
                                    <small>cancel</small>
                                </button>
                                <button mat-raised-button class="bg-green" (click)="onSave(color);color.isEditEnable = false">
                                    <small>save</small>
                                </button>
                            </div>
                        </div>
                    </mat-list-item>
                </mat-list>
            </section>
            <app-data-missing-instruction *ngIf="!colors?.length" [(instructions)]="COLOR_MISSING">
            </app-data-missing-instruction>
        

        <mat-toolbar 
        class="mat-elevation-z16 " 
        style="position: absolute;bottom: 0;z-index: 15;">
        </mat-toolbar>
    </mat-sidenav-content>
</mat-sidenav-container>