
<mat-sidenav-container class="sidenav-newsale-container">
    <mat-sidenav class="sidenav-checkout" [mode]="'side'" [opened]="true" position="end">
        <!-- <app-filter [(data)]="colors" ></app-filter> -->
       
    </mat-sidenav>

    <mat-sidenav-content style="position: relative;">
        <mat-toolbar class="shadow" style="position: absolute;top:0;border-radius: 0;">  
            <h3>Colors<small class="text-ultra-light px-2" id="count"></small></h3>
            <span class="spacer"></span>
            <app-search  (onSearch)="onSearch($event)"></app-search>
            <button mat-icon-button class="mx-2 rounded-lg" (click)="isListView = !isListView">
                <mat-icon class="mat-icon-sm pt-0">{{isListView ? 'view_list' : 'grid_view'}}</mat-icon>
            </button>
            <button mat-raised-button class="ml-1 rounded-lg bg-green" (click)="onOpenDialog()">
                <mat-icon class="mat-icon-sm pt-1">add_box</mat-icon>
                <small>Add Color</small>
            </button>
           
        </mat-toolbar>
           
        <app-color-item [(data)]="colors"   [(view)]="isListView" (onDialogClose)="onDialogClose($event)"></app-color-item>
          
           
            <app-data-missing-instruction *ngIf="!colors?.length" [(instructions)]="COLOR_MISSING">
            </app-data-missing-instruction>
        

        <mat-toolbar 
        class="mat-elevation-z16 " 
        style="position: absolute;bottom: 0;z-index: 15;">
        </mat-toolbar>
    </mat-sidenav-content>
</mat-sidenav-container>