<header>
    <mat-toolbar class="bg-dark">
        <div>
          <button mat-icon-button >
            <mat-icon>chevron_left</mat-icon>
          </button>
          <button mat-icon-button >
            <mat-icon>chevron_right</mat-icon>
          </button>
        </div>
        <div class="layout w-100">
          <!-- <app-search></app-search> -->
        </div>
        <span class="spacer"></span>
       <!-- <app-avatar></app-avatar> -->
       <button mat-icon-button >
        <mat-icon>minimize</mat-icon>
      </button>
      <button mat-icon-button (click)="isFullScreen = !isFullScreen">
        <mat-icon>{{isFullScreen ? 'fullscreen' : 'fullscreen_exit'}}</mat-icon>
      </button>
      <button mat-icon-button >
        <mat-icon style="color: rgb(255, 104, 49);">cancel</mat-icon>
      </button>

    </mat-toolbar>
  </header>
  