<mat-toolbar class="bg-dark rounded-lg dialog-toolbar" style="margin: -24px -24px 0px -24px;padding: 0 .4rem;">
    <button mat-button [mat-dialog-close]="false" class="bg-dark"><span>Cancel</span></button>
    <div class="spacer"></div>
    <small>Customer Details</small>
    <mat-icon>sale</mat-icon>
    <div class="spacer"></div>

    <button mat-raised-button class="bg-green" (click)="onEdit()">
        <small>Edit</small>
    </button>
</mat-toolbar>
<div mat-dialog-content class="">
    <div class="">

        <section class="container" style="min-height: 65vh;">
            <mat-tab-group mat-align-tabs="start" animationDuration="0ms">
                <mat-tab label="Basic">
                    <div style="min-height: 50vh;">
                        <div class="d-flex" style="align-items: flex-start;">
                            <figure style="margin:1rem;">
                                <img src="{{localData.photo}}" alt=""
                                    class="thumbnail-lg">
                            </figure>
                            <mat-list dense class="w-100 mt-1">
                                <mat-list-item>
                                    <span class="strong text-light">Name</span>
                                    <div class="spacer"></div>
                                    <span class="strong">{{localData?.name | titlecase}}</span>
                                </mat-list-item>
                                <mat-list-item>
                                    <span class="strong text-light">Gender</span>
                                    <div class="spacer"></div>
                                    <span class="strong">{{localData?.gender | titlecase}}</span>
                                </mat-list-item>
                                <mat-list-item>
                                    <span class="strong text-light">Phone</span>
                                    <div class="spacer"></div>
                                    <span class="strong">{{localData?.phone || 'unknown'}}</span>
                                </mat-list-item>
                                <mat-list-item>
                                    <span class="strong text-light">Address</span>
                                    <div class="spacer"></div>
                                    <span class="strong">{{localData?.address || 'unknown'}}</span>
                                </mat-list-item>
                            
                                
                            </mat-list>
                        </div>
                    </div>
                </mat-tab>
              
               
            </mat-tab-group>
        </section>
    </div>

</div>