<mat-sidenav-container class="sidenav-newsale-container">
    <mat-sidenav class="sidenav-checkout" [mode]="'side'" [opened]="true" position="end">
        <!-- <app-filter ></app-filter> -->

        <div *ngIf="isNewAddEnable" class="inline-edit__form d-flex shadow rounded-lg mb-2"
            style="position: relative;align-items: flex-start;justify-content: space-around;min-width: 50vw;">
            <div class="p-5 w-100 bg-dark rounded-lg d-flex justify-content-between align-items-center">
                <mat-form-field appearance="outline" color="accent" class="w-75" style="font-size: 12px;">
                    <mat-label>Brand</mat-label>
                    <input matInput type="text" [(ngModel)]="newBrand" placeholder="eg:Duke,HRX,Wrogn">
                </mat-form-field>
                <div style="float: right;">
                    <button mat-button (click)="isNewAddEnable = false;"><small>Cancel</small></button>
                    <button mat-raised-button class="bg-green" (click)="onNewBrandSave()"><small>Save</small></button>
                </div>
            </div>

        </div>
    </mat-sidenav>

    <mat-sidenav-content style="position: relative;">
        <mat-toolbar class="bg-white shadow" style="position: absolute;top:0">
            <h3>Garment Category<small class="text-ultra-light px-2" id="count"></small></h3>
            <span class="spacer"></span>
            <app-search (onSearch)="onSearch($event)"></app-search>

            <button mat-raised-button class="ml-1 rounded-lg bg-green" (click)="onOpenDialog({})">
                <mat-icon class="mat-icon-sm pt-1">add_box</mat-icon>
                <small>Add Garment Category</small>
            </button>

        </mat-toolbar>


        <section class="items-container grid-view">


            <table mat-table [dataSource]="dataSource1" multiTemplateDataRows class="mat-elevation-z0">
                <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
                    <th mat-header-cell *matHeaderCellDef>  </th>
                    <td mat-cell *matCellDef="let element"> <button *ngIf="column != 'action'" mat-icon-button>
                            <mat-icon class="mat-icon-rtl-mirror">
                                {{expandedElement === element ? 'expand_more' : 'chevron_right'}}
                            </mat-icon>
                        </button>{{element[column]}}
                        <div *ngIf="column == 'action'" class="w-100 d-flex">
                            <div class="spacer"></div>
                            <button mat-button class="bg-white mr-1 "
                                (click)="$event.stopPropagation();onOpenDialog(element)"><small>Manage</small></button>
                        </div>
                    </td>
                </ng-container>

                <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                        <div class="example-element-detail"
                            [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                            
                            <div class="example-element-description">
                                <span class="strong text-uppercase">Sub Categories of {{element.name}}</span>
                                <div *ngFor="let subcat of element.subCategories" class="py-1">
                                    <span class="text-light">{{subcat.name | titlecase}}</span>
                                </div>
                                <!-- There is inline padding applied to this div using styles.
                            This padding value depends on the mat-icon-button width.  -->

                                <div style="font-size: 12px;" class="w-100" (click)="$event.stopPropagation()">
                                    <div *ngIf="element.isEditEnable" class="mt-2 d-flex align-items-center w-100 mat-form-field-margin-0">
                                        <mat-form-field appearance="outline" class="">
                                            <mat-label>Add Sub Category of {{element.name}}</mat-label>
                                            <input matInput type="text" autocomplete="off" [(ngModel)]="subCategoryName"
                                                (change)="onInputChange(element.id,$event.target.value)">
                                        </mat-form-field>
                                        <div class="spacer"></div>
                                        <button mat-button class="bg-ultra-light mr-1 ml-1" (click)="element.isEditEnable = false;">cancel</button>
                                        <button mat-button class="bg-green"
                                            (click)="onSubmitSubCategory();element.isEditEnable = false;">Save</button>
                                    </div>
                                    <div *ngIf="!element.isEditEnable" class="pb-4" >
                                        <button mat-button class="bg-green" (click)="element.isEditEnable = true;subCategoryName=''">
                                            <mat-icon class="mat-icon-sm pt-1">add_box</mat-icon> <small>Add Sub
                                                Category of<strong> {{element.name}} </strong></small>
                                        </button>
                                    </div>
                                </div>

                                <!-- <span class="example-element-description-attribution"> -- Wikipedia </span> -->
                            </div>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
                    [class.example-expanded-row]="expandedElement === element"
                    (click)="expandedElement = expandedElement === element ? null : element">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
            </table>
        </section>
        <app-data-missing-instruction *ngIf="!categoryList?.length" [(instructions)]="BRAND_MISSING">
        </app-data-missing-instruction>


        <mat-toolbar class="mat-elevation-z16 " style="position: absolute;bottom: 0;z-index: 15;">
        </mat-toolbar>
    </mat-sidenav-content>
</mat-sidenav-container>