mat-list-item{
   margin-bottom: 1rem;
   margin-top: 1rem;
}


::ng-deep .inline-edit__list{
   .mat-form-field-wrapper {
       padding-bottom: 0px!important;
   }
  
}
::ng-deep .inline-edit__form{
   .mat-form-field-wrapper {
       padding-bottom: 0px!important;
   }
   .mat-form-field-appearance-outline .mat-form-field-outline {
      color: white;
   }
   mat-form-field,mat-form-field:focus {
      .mat-hint, input, ::placeholder, .mat-form-field-label {
         color: white;
      }
   }
}
.brand-list-container{
   min-height: calc(100vh - 12rem)!important;
   overflow-y: auto;
  //  background: chocolate!important;
}
header{
  position: fixed;
  display: block;
  width: 100vw;
  top : 0;
  z-index: 2;
}
::ng-deep mat-toolbar mat-toolbar-row .mat-toolbar-row{
  max-height: 48px;
}
header mat-toolbar{
  height: 48px;
}
.sidenav-newsale-container {
  position: fixed;
  top: 3rem;
  width: calc(100% - 12rem);
  height: calc(100% - 3rem);
}
.sidenav-filter{
  width: 12rem;

}
.sidenav-checkout{
  width: var(--sidenav-md-width);
  padding-bottom: 3rem;
  padding-top: 3rem;

}
.sidenav-item-details{
  width: 24rem;
}
mat-sidenav.sidenav-checkout mat-nav-list mat-icon,p{
    color : var(--dark);
}
mat-nav-list p{
  font-weight: 600!important;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.question-ref-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  margin: 3rem 0rem 2rem 0rem;
  max-height: calc(100% - 15rem);
  overflow-y: auto;
  // overflow: hidden;
  // background: chocolate;
}
details {
  cursor: pointer;
  padding: 0 1rem;
}

::ng-deep mat-paginator .mat-paginator-container {
max-height: 3rem!important;
min-height: 3rem!important;
height: 3rem!important;
}
.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

/*
 * This padding sets alignment of the nested nodes.
 */
.example-tree .mat-nested-tree-node div[role=group] {
  padding-left: 40px;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.example-tree div[role=group] > .mat-tree-node {
  padding-left: 40px;
}
