<section *ngIf="isListView" class="items-container grid-view">
  <div *ngFor="let item of items">
    <article class="item shadow"  (click)="checkItemDetails()">
      <div class="item-price d-flex">
        <div class="spacer"></div>
        <small class="px-2">In Stock</small>
        <span class="strong px-2 my-1" >{{item?.quantity || 'N/A'}}</span>
      </div>
      <img class="thumbnail-lg" src="{{item?.item?.image || 'assets/images/cool-background.png'}}" alt="">
      <div class="card-item-details w-100">
        <mat-list dense class="w-100">
          <mat-list-item class="text-wrap-sm">
            <h3 matLine> {{item?.item?.name}} </h3>
            <p matLine class="">
              <small> {{item?.item?.code}} </small>
              <small class="">{{item?.item?.description}} </small>
            </p>
          </mat-list-item>
        </mat-list>
      </div>
      <mat-toolbar style="padding: 0 5px;"   (click)="$event.stopPropagation();">
        <div class="spacer"></div>
          <button mat-button class="bg-ultra-light w-100"  (click)="onSelectItem(item)">
            <small>Manage</small>
            <mat-icon class="mat-icon-sm pt-1">inventory</mat-icon>
          </button>
          
        <div class="spacer"></div>
      </mat-toolbar>
    </article>
  </div>
</section>

<section *ngIf="!isListView" class="items-container-table-view">
  <div *ngFor="let item of items;let i=index;">
    <article class="item-list-view shadow "  (click)="checkItemDetails()">
      <div style="width: 2rem;" class="layout">
        <span class="strong">{{i+1}}</span>
      </div>
      <img class="thumbnail-sm" src="{{item?.item?.image || 'assets/images/cool-background.png'}}" alt="">
      <div class="list-view-details">
        <mat-list dense>
          <mat-list-item class=" text-wrap-lg">
            <h3 matLine> {{(item?.item?.name | titlecase) ||'unknown'}} </h3>
            <p matLine class="" style="color: var(--light);">
              <span> {{item?.item?.code | titlecase}} </span>
              <span class="">{{item?.item?.description}} </span>
            </p>
          </mat-list-item>
        </mat-list>
      </div>
      <div class="spacer"></div>
      <div class="price-column">
        <mat-list dense>
          <mat-list-item>
            <span matLine style="color:var(--light)">In Stock</span>
            <h3 matLine style="font-weight: 600;"> {{item?.quantity || 'unknown' }}</h3>
          </mat-list-item>
        </mat-list>
      </div>
      <div class="price-column">
        <mat-list dense>
          <mat-list-item>
            <span matLine style="color:var(--light)">Stock Price</span>
            <h3 matLine style="font-weight: 600;"> {{(item?.amount | currency : 'INR') || 'unknown'}}</h3>
          </mat-list-item>
        </mat-list>
      </div>
      <div class="table-column" (click)="$event.stopPropagation();">

        <button mat-button class="bg-ultra-light"  (click)="onSelectItem(item);">
          <small>Manage</small>
          <mat-icon class="mat-icon-sm pt-1">inventory</mat-icon>
        </button>
      </div>
    </article>
  </div>
</section>