<ol class="breadcrumb">
    <li>
        <span >
            <button mat-stroked-button  routerLink="">
                <mat-icon class="mat-icon-sm pt-1">home</mat-icon>
                <small class="" style="padding-right: 6px;">Home</small>
              </button>
        </span>
    </li>
    <li *ngFor="let breadcrumb of breadcrumbs">
        <span [routerLink]="breadcrumb.url" routerLinkActive="router-link-active">
            <button mat-stroked-button class="mr-1">
                <mat-icon class="mat-icon-sm pt-1">{{ breadcrumb.icon }}</mat-icon>
                <small class="" > {{ breadcrumb.label }}
                </small>
            </button>
        </span>
    </li>
</ol>