.breadcrumb {
    background: none;
    display: flex;
    flex-direction: row;
    font-size: 0.8em;
    margin: 0;
    a,
    span {
      color: darkgrey;
    }
    a:hover,
    span:hover {
      color: dimgrey;
      text-decoration: none;
    }
    li {
      list-style: none;
      float: left;
    //   margin: 5px;
    }
    li:last-child span{
    //   margin-right: 20px;
      color: whitesmoke;
    }
    // li::after {
    //   content: "->";
    //   color: darkgrey;
    // }
    li:last-child::after {
      content: "";
    }
  }