<mat-sidenav-container class="sidenav-newsale-container">
    <mat-sidenav class="sidenav-checkout" [mode]="'side'" [opened]="true" position="end">
        <mat-toolbar class="shadow" style="position: absolute;top: 0;z-index: 5;background: white;">
            <div class="spacer"></div>
            <small>Filter</small>
            <div class="spacer"></div>
        </mat-toolbar>
        <mat-accordion style="margin-top: 3rem;" class="shadow">
            <mat-expansion-panel class="shadow mat-elevation-z0">
                <mat-expansion-panel-header>
                    <small class="strong">Category</small>
                    <div class="spacer"></div>
                </mat-expansion-panel-header>

                <mat-selection-list dense >
                    <mat-list-option *ngFor="let category of garmentsCategory">
                        <small class="strong text-light">{{category.name }}</small>
                    </mat-list-option>
                </mat-selection-list>
            </mat-expansion-panel>
            <mat-expansion-panel class="shadow mat-elevation-z0">
                <mat-expansion-panel-header>
                    <small class="strong">Price</small>
                    <div class="spacer"></div>
                </mat-expansion-panel-header>

                <mat-selection-list dense >
                    <mat-list-option *ngFor="let category of garmentsCategory">
                        <small class="strong text-light">{{category.name }}</small>
                    </mat-list-option>
                </mat-selection-list>
            </mat-expansion-panel>
            <mat-expansion-panel class="shadow mat-elevation-z0">
                <mat-expansion-panel-header>
                    <small class="strong">Color</small>
                    <div class="spacer"></div>
                </mat-expansion-panel-header>

                <mat-selection-list dense >
                    <mat-list-option *ngFor="let category of garmentsCategory">
                        <small class="strong text-light">{{category.name }}</small>
                    </mat-list-option>
                </mat-selection-list>
            </mat-expansion-panel>
            <mat-expansion-panel class="shadow mat-elevation-z0">
                <mat-expansion-panel-header>
                    <small class="strong">Size</small>
                    <div class="spacer"></div>
                </mat-expansion-panel-header>

                <mat-selection-list dense >
                    <mat-list-option *ngFor="let category of garmentsCategory">
                        <small class="strong text-light">{{category.name }}</small>
                    </mat-list-option>
                </mat-selection-list>
            </mat-expansion-panel>
        </mat-accordion>
        
        
        <mat-toolbar style="position: absolute;bottom: 0;z-index: 5;background: white">
            <button mat-stroked-button class="w-100 mr-1">
                <span class="fancy-text text-uppercase">Reset</span>
            </button>
            <button mat-raised-button class="bg-green w-100">
                <span class="fancy-text text-uppercase">Apply</span>
            </button>
        </mat-toolbar>
    </mat-sidenav>

    <mat-sidenav-content style="position: relative;" >
        <mat-toolbar class="bg-white shadow" style="position: absolute;top:0">
            <!-- <div class="layout w-100">
                <app-search (onSearch)="getSearchText($event)"></app-search>
            </div> -->
            <button mat-icon-button class="mx-2 rounded-lg" disabled>
                <mat-icon class="mat-icon-sm pt-0">search</mat-icon>
            </button>
            <span class="spacer"></span>
            <button mat-icon-button class="mx-2 rounded-lg" (click)="openAddUpdateProduct()">
                <mat-icon class="mat-icon-sm pt-0">add_box</mat-icon>
            </button>
            <button mat-icon-button class="mx-2 rounded-lg" (click)="isListView = !isListView">
                <mat-icon class="mat-icon-sm pt-0">{{isListView ? 'view_list' : 'grid_view'}}</mat-icon>
            </button>
            <button mat-icon-button class="mx-2 rounded-lg" [matMenuTriggerFor]="moreTools">
                <mat-icon class="mat-icon-sm pt-0">more_vert</mat-icon>
            </button>
            <mat-menu #moreTools="matMenu">
                <mat-list dense>
                    <mat-list-item>
                        <mat-icon mat-list-icon>refresh</mat-icon>
                        <span>Refresh</span>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>settings</mat-icon>
                        <span>settings</span>
                    </mat-list-item>
                </mat-list>
            </mat-menu>
        </mat-toolbar>
        <app-product-item [(data)]="items" [cartItems]="cart" [(view)]="isListView" (shareCart)="onCartData($event)" ></app-product-item>
        <mat-toolbar *ngIf="cart?.length"
        class="mat-elevation-z16 " 
        style="position: absolute;bottom: 0;z-index: 15;">

            <span class="px-5">{{cart?.length || '0'}} | <small>Item</small></span>

            <div class="spacer"></div>
            <button mat-button class="w-100 bg-green" (click)="onViewCart()" >
                <mat-icon class="mat-icon-sm pt-1">shopping_cart</mat-icon>
                <span class="px-3 fancy-text text-uppercase">view cart</span>
            </button>
            <div class="spacer"></div>
            <span class="px-5">{{getCartTotal() | currency :'INR'}}</span>
            <!-- <mat-paginator 
             [length]="items.length" 
             [pageSize]="10" 
             [pageSizeOptions]="[5, 10, 25, 100]" 
             aria-label="Select page" style="max-height: 3rem;margin: 0;padding: 0;">
            </mat-paginator> -->
        </mat-toolbar>
    </mat-sidenav-content>
</mat-sidenav-container>