<mat-sidenav-container class="sidenav-newsale-container">
    <mat-sidenav class="sidenav-checkout" [mode]="'side'" [opened]="true" position="end">
       <!-- <app-filter [(data)]="items" (onFilter)="onApplyFilter($event)"></app-filter> -->
    </mat-sidenav>

    <mat-sidenav-content style="position: relative;">
        <mat-toolbar class="shadow" style="position: absolute;top:0">
            <!-- <div class="layout w-100">
                <app-search (onSearch)="getSearchText($event)"></app-search>
            </div> -->
            <span class="spacer"></span>
            <button mat-icon-button class="mx-2 rounded-lg" disabled>
                <mat-icon class="mat-icon-sm pt-0">search</mat-icon>
            </button>
            <button mat-icon-button class="mx-2 rounded-lg" (click)="openAddUpdateCustomer()">
                <mat-icon class="mat-icon-sm pt-0">add_box</mat-icon>
            </button>
            <button mat-icon-button class="mx-2 rounded-lg" >
                <mat-icon class="mat-icon-sm pt-0">refresh</mat-icon>
            </button>
            <button mat-icon-button class="mx-2 rounded-lg" (click)="isListView = !isListView">
                <mat-icon class="mat-icon-sm pt-0">{{isListView ? 'view_list' : 'grid_view'}}</mat-icon>
            </button>
            <button mat-icon-button class="mx-2 rounded-lg" [matMenuTriggerFor]="moreTools">
                <mat-icon class="mat-icon-sm pt-0">more_vert</mat-icon>
            </button>
            <mat-menu #moreTools="matMenu">
                <mat-list dense>
                    <mat-list-item>
                        <mat-icon mat-list-icon>refresh</mat-icon>
                        <span>Refresh</span>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>settings</mat-icon>
                        <span>settings</span>
                    </mat-list-item>
                </mat-list>
            </mat-menu>
        </mat-toolbar>
        <app-customer [(data)]="items"   [(view)]="isListView" (shareCart)="onCartData($event)" (onDialogClose)="onDialogClose($event)"></app-customer>
        <app-data-missing-instruction *ngIf="!items?.length" [(instructions)]="CUSTOMER_MISSING"></app-data-missing-instruction>
    </mat-sidenav-content>
</mat-sidenav-container>