<mat-toolbar class="bg-dark rounded-lg dialog-toolbar" style="margin: -24px -24px 24px -24px;padding: 0 .4rem;">
    <button mat-button [mat-dialog-close]="false" class="bg-dark"><span>Cancel</span></button>
    <div class="spacer"></div>
    <small>{{action | titlecase}} Brand</small>
    <div class="spacer"></div>
    <button mat-raised-button class="bg-green" (click)="onDone()"><span>{{isLoading? 'Please wait...' :
            'Done'}}</span></button>
</mat-toolbar>
<div mat-dialog-content class="">
    <div class="">
        <div class="d-flex ">
            <div style="margin-bottom: 1rem;">
                <app-photo-upload [(image)]="colorForm.value.photo" (onImageChange)="onImageChange($event)">
                </app-photo-upload>
            </div>
            <form [formGroup]="colorForm" class="w-100" style="font-size: 12px;">

                <div class="px-5">

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Enter Color</mat-label>
                        <input matInput placeholder="Red" formControlName="name">
                    </mat-form-field>
                    <mat-form-field  appearance="outline" class="w-100">
                        <mat-label>{{colorForm.value.code}}</mat-label>
                        <input matInput type="color" formControlName="code" >
                    </mat-form-field>
            


                </div>

            </form>

        </div>
    </div>

</div>