mat-list-item{
    margin-bottom: 1rem;
    margin-top: 1rem;
}


::ng-deep .inline-edit__list{
    .mat-form-field-wrapper {
        padding-bottom: 0px!important;
    }
   
 }
 ::ng-deep .inline-edit__form{
    .mat-form-field-wrapper {
        padding-bottom: 0px!important;
    }
    .mat-form-field-appearance-outline .mat-form-field-outline {
       color: white;
    }
    mat-form-field,mat-form-field:focus {
       .mat-hint, input, .mat-form-field-label {
          color: white;
       }
    }
 }
 .brand-list-container{
    height: calc(100vh - 12rem)!important;
    overflow-y: auto;
   //  background: chocolate!important;
 }
 .color-box{
     width: 4rem;
     height: 2rem;
     border-radius: 4px;
     
 }