header{
    position: fixed;
    display: block;
    width: 100vw;
    top : 0;
    z-index: 2;
  }
  ::ng-deep mat-toolbar mat-toolbar-row .mat-toolbar-row{
    max-height: 48px;
  }
  header mat-toolbar{
    height: 48px;
  }
  .sidenav-newsale-container {
    position: fixed;
    top: 3rem;
    width: calc(100% - 12rem);
    height: calc(100% - 3rem);
  }
  .sidenav-filter{
    width: 12rem;

  }
  .sidenav-checkout{
    width: 24rem;
    padding-bottom: 3rem;
  }
  .sidenav-item-details{
    width: 24rem;
  }
  mat-sidenav.sidenav-checkout mat-nav-list mat-icon,p{
      color : var(--dark);
  }
  mat-nav-list p{
    font-weight: 600!important;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .question-ref-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    margin: 3rem 0rem 2rem 0rem;
    max-height: calc(100% - 15rem);
    overflow-y: auto;
    // overflow: hidden;
    // background: chocolate;
}
details {
    cursor: pointer;
    padding: 0 1rem;
}
.items-container{
  // padding: 1rem 0;
  margin: 3rem 0rem 2rem 0rem;
  max-height: calc(100% - 8rem);
  overflow-y: auto;
}
.grid-view{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.items-container-table-view{
  margin: 3rem 0rem 2rem 0rem;
  max-height: calc(100% - 6rem);
  overflow-y: auto;
}
::ng-deep mat-paginator .mat-paginator-container {
  max-height: 3rem!important;
  min-height: 3rem!important;
  height: 3rem!important;
}