<mat-toolbar class="bg-dark rounded-lg dialog-toolbar" style="margin: -24px -24px 24px -24px;padding: 0 .4rem;">
    <button mat-button [mat-dialog-close]="false" class="bg-dark"><span>Cancel</span></button>
    <div class="spacer"></div>
    <small>Customer</small>
    <div class="spacer"></div>
    <button mat-raised-button class="bg-green" (click)="onDone()"><span>Done</span></button>
</mat-toolbar>
<div mat-dialog-content class="">
    <div class="">
        <div class="d-flex " >
            <div style="margin-bottom: 1rem;">
                <app-photo-upload (onImageChange)="onImageChange($event)"></app-photo-upload>
            </div>
            <form [formGroup]="customerForm" class="w-100" style="font-size: 12px;">
               
                    <div class="px-5">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Name</mat-label>
                            <input matInput placeholder="Ex:Nikhil Ojha" formControlName="name">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Contact</mat-label>
                            <input matInput placeholder="Ex:7827458618" formControlName="phone">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Address</mat-label>
                            <textarea matInput placeholder="Ex:Banjaria 274704" formControlName="address"></textarea>
                        </mat-form-field>
                    </div>
                
            </form>

        </div>
    </div>

</div>