.mat-radio-button ~ .mat-radio-button {
    margin-left: 3.2rem;
  }

  .mange-stock-tab mat-list-item{
      margin-top: 1rem;
  }
table{
  font-size: 12px;
}
  tr.border_bottom td {
    border-bottom: 1px solid #ccc;
  }
  table tr span{
      font-size: 12px;
  }