<mat-toolbar class="bg-dark rounded-lg dialog-toolbar" style="margin: -24px -24px 24px -24px;padding: 0 .4rem;">
    <button mat-button [mat-dialog-close]="false" class="bg-dark"><span>Cancel</span></button>
    <div class="spacer"></div>
    <small>Billing Preview</small>
    <div class="spacer"></div>
   
    <button mat-raised-button class="bg-green" (click)="onDone()">
        <mat-icon class="mat-icon-sm pt-1">print</mat-icon>
    <small>{{isLoading? 'please wait...' : 'Print'}}</small>
    </button>
</mat-toolbar>
<div mat-dialog-content class="">
    <div class="">

        <section class="container" style="min-height: 65vh;position: relative;">
            <div style="min-height: 50vh;" class="mange-stock-tab">
                <div class="w-100 d-flex bill-container" style="align-items: flex-start;" >
                    <div id="receipt" style="margin: 1rem;border: 1px solid #ccc;padding: 1rem;"
                        class="w-50 d-flex flex-column rounded-lg">
                        <table class="w-100 ">
                            <tr class="border_bottom">
                                <td></td>
                                <td class="w-50" align="right">
                                    <div style="text-align: right;">
                                        <span class="strong">R.K. JWELLERS <span>&</span></span><br>
                                        <small style="font-size: .7rem;">KHUSI SAREE COLLECTION</small>
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                            <tr>
                                <td><span class="text-light">Bill To</span></td>
                            </tr>
                            <tr>
                                <td> <span class="strong">{{localData?.customer?.name | titlecase}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="text-light">{{localData?.customer?.phone}}</span></td>
                            </tr>
                            <tr>
                                <td><small class="">{{localData?.customer?.address}}</small></td>
                            </tr>
                            </td>
                            <td align="right">
                                <tr>
                                    <td align="right">
                                <tr>
                                    <td><span class="text-light">Receipt No.</span></td>
                                </tr>
                                <tr>
                                    <td> <span class="text-light">Date</span></td>
                                </tr>
                                <tr>
                                    <td><span class="text-light"></span></td>
                                </tr>
                                <tr>
                                    <td><small class="text-light">Amount Due(INR)</small></td>
                                </tr>
                            </td>
                            <td align="left">
                                <tr>
                                    <td><span class="strong text-uppercase">1</span></td>
                                </tr>
                                <tr>
                                    <td> <span class="strong">{{orderDate | date : 'short'}}</span></td>
                                </tr>
                                <tr>
                                    <td><span class="text-light"></span></td>
                                </tr>
                                <tr>
                                    <td><small class="strong">{{(localData?.finalPayableAmount - receivedAmount | currency:'INR') || 'N/A'}}</small></td>
                                </tr>
                            </td>
                            </tr>
                            </td>
                            </tr>
                        </table>
                        <table class="w-100 py-2 rounded-lg"
                            style="border-top: 1px solid rgba(204, 204, 204, 0.541);border-bottom: 1px solid rgba(204, 204, 204, 0.541);font-size: 12px;">
                            <thead>
                                <tr>
                                    <th align="left">Items</th>
                                    <th>Quantity</th>

                                    <th align="right">Price</th>
                                    <th>Discount INR</th>
                                    <th align="right">Amount</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr align="center" *ngFor="let item of localData?.cartItem">
                                    <td align="left">{{item?.item?.grade || item?.item?.make }}</td>
                                    <td>{{item?.quantity }}</td>
                                    <td align="right">{{item?.item?.price | currency:'INR'}}</td>
                                    <td>- {{item?.discountInRuppee | currency:'INR'}}</td>
                                    <td align="right">{{ item?.quantity * item.priceAfterDiscount | currency:'INR'}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="w-100">
                            <tr align="right">
                                <td align="right">
                                    <tr>
                                    <td align="right">
                                    <tr *ngIf="localData?.discountInRuppee">
                                        <td> <span class="text-light">Discount</span></td>
                                    </tr>
                                    <tr>
                                        <td><span class="strong">Total </span></td>
                                    </tr>
                                    <tr>
                                        <td><span class="text-light">Received ({{(paymentMode | uppercase)  || 'N/A'}})</span></td>
                                    </tr>
                                    <tr>
                                        <td><small class="text-light">Amount Due(INR)</small></td>
                                    </tr>
                                    </td>
                                    <td align="right">

                                        <tr *ngIf="localData?.discountInRuppee">
                                            <td> <span class="text-light">- {{(localData?.discountInRuppee | currency:'INR')||
                                                    0}}</span></td>
                                        </tr>
                                        <tr>
                                            <td><span class="strong text-uppercase">{{localData?.finalPayableAmount |
                                                    currency:'INR'}}</span></td>
                                        </tr>
                                        <tr>
                                            <td><span class="text-light">{{(receivedAmount | currency:'INR') || 0}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><small class="strong">{{(localData?.finalPayableAmount - receivedAmount | currency:'INR') || 'N/A'}}</small></td>
                                        </tr>
                                    </td>
                                    </tr>
                                </td>
                            </tr>
                        </table>

                    </div>
                    <div class="w-50 payment-container rounded-lg d-flex flex-column align-items-start  mt-2 " style="position: relative;min-height: 60vh;">
                        <div class="w-100 bg-ultra-light" style="position: relative;top: 0rem;padding: 1rem 0rem;">
                            <h3 class="text-center  p-0 m-0">Take Payment</h3>
                        </div>
                        
                        <table class="w-100 mt-2" style="margin-top: 2rem;">
                            <tr align="center">
                                <td>Received Amount</td>
                                <td>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Received Amount</mat-label>
                                        <input matInput type="number" [(ngModel)]="receivedAmount" placeholder="amount">
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr align="center">
                                <td>Payment Method</td>
                                <td>
                                    <mat-form-field appearance="outline">
                                        <mat-select [(ngModel)]="paymentMode">
                                            <mat-option value=''>Select Payment Method</mat-option>
                                            <mat-option value="cash">Cash</mat-option>
                                            <mat-option value="upi">UPI</mat-option>
                                            <mat-option value="Net-banking">Net Banking</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    
                                </td>
                            </tr>
                            <tr>
                                
                            </tr>

                        </table>
                        
                        <div  style="position: absolute;bottom: 0rem;width: 100%;">
                            <button class="w-100 bg-green" mat-button (click)="onApply()">{{isSavingOrder? 'please wait...' : 'Apply'}}</button>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>

</div>