<mat-toolbar class="bg-dark rounded-lg dialog-toolbar" style="margin: -24px -24px 24px -24px;padding: 0 .4rem;">
    <button mat-button [mat-dialog-close]="false" class="bg-dark"><span>Cancel</span></button>
    <div class="spacer"></div>
    <small>Billing Preview</small>
    <div class="spacer"></div>

    <button mat-raised-button class="bg-green" (click)="onDone()">
        <mat-icon class="mat-icon-sm pt-1">print</mat-icon>
        <small>Print</small>
    </button>
</mat-toolbar>
<div mat-dialog-content class="">
    <div class="">

        <section class="container" style="min-height: 65vh;position: relative;">
            <div style="min-height: 50vh;" class="mange-stock-tab">
                <div class="w-100 d-flex " style="align-items: flex-start;">
                    <div id="receipt" style="margin: 1rem;border: 1px solid #ccc;padding: 1rem;"
                        class="w-50 d-flex flex-column rounded-lg">
                        <table class="w-100 ">
                            <tr class="border_bottom">
                                <td></td>
                                <td class="w-50" align="right">
                                    <div style="text-align: right;">
                                        <span class="strong">R.K. JWELLERS <span>&</span></span><br>
                                        <small style="font-size: .7rem;">KHUSI SAREE COLLECTION</small>
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                            <tr>
                                <td><span class="text-light text-uppercase">Bill To</span></td>
                            </tr>
                            <tr>
                                <td> <span class="strong">Shivam dwivedi</span></td>
                            </tr>
                            <tr>
                                <td><span class="text-light">94587563837</span></td>
                            </tr>
                            <tr>
                                <td><small class="">Bankatiya deoria up</small></td>
                            </tr>
                            </td>
                            <td align="right">
                                <tr>
                                    <td align="right">
                                <tr>
                                    <td><span class="text-light">Receipt No.</span></td>
                                </tr>
                                <tr>
                                    <td> <span class="text-light">Date</span></td>
                                </tr>
                                <tr>
                                    <td><span class="text-light"></span></td>
                                </tr>
                                <tr>
                                    <td><small class="text-light">Amount Due(INR)</small></td>
                                </tr>
                            </td>
                            <td align="left">
                                <tr>
                                    <td><span class="strong text-uppercase">111</span></td>
                                </tr>
                                <tr>
                                    <td> <span class="strong">25 oct 2021</span></td>
                                </tr>
                                <tr>
                                    <td><span class="text-light"></span></td>
                                </tr>
                                <tr>
                                    <td><small class="strong">INR 345/-</small></td>
                                </tr>
                            </td>
                            </tr>
                            </td>
                            </tr>
                        </table>
                        <table class="w-100 py-2 rounded-lg"
                            style="border-top: 1px solid rgba(204, 204, 204, 0.541);border-bottom: 1px solid rgba(204, 204, 204, 0.541);font-size: 12px;">
                            <thead>
                                <tr>
                                    <th align="left">Items</th>
                                    <th>Quantity</th>
                                    <th>Discount</th>
                                    <th>Discount INR</th>
                                    <th align="right">Price</th>
                                    <th align="right">Amount</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr align="center">
                                    <td align="left">saree</td>
                                    <td>2</td>
                                    <td>2%</td>
                                    <td>- 20/-</td>
                                    <td align="right">4003</td>
                                    <td align="right">4003</td>
                                </tr>
                                <tr align="center">
                                    <td align="left">saree</td>
                                    <td>2</td>
                                    <td>2%</td>
                                    <td>- 20/-</td>
                                    <td align="right">4003</td>
                                    <td align="right">4003</td>
                                </tr>
                                <tr align="center">
                                    <td align="left">saree</td>
                                    <td>2</td>
                                    <td>2%</td>
                                    <td>- 20/-</td>
                                    <td align="right">4003</td>
                                    <td align="right">4003</td>
                                </tr>
                                <tr align="center">
                                    <td align="left">saree</td>
                                    <td>2</td>
                                    <td>2%</td>
                                    <td>- 20/-</td>
                                    <td align="right">4003</td>
                                    <td align="right">4003</td>
                                </tr>
                                <tr align="center">
                                    <td align="left">saree</td>
                                    <td>2</td>
                                    <td>2%</td>
                                    <td>- 20/-</td>
                                    <td align="right">4003</td>
                                    <td align="right">4003</td>
                                </tr>
                                <tr align="center">
                                    <td align="left">saree</td>
                                    <td>2</td>
                                    <td>2%</td>
                                    <td>- 20/-</td>
                                    <td align="right">4003</td>
                                    <td align="right">4003</td>
                                </tr>
                                <tr align="center">
                                    <td align="left">saree</td>
                                    <td>2</td>
                                    <td>2%</td>
                                    <td>- 20/-</td>
                                    <td align="right">4003</td>
                                    <td align="right">4003</td>
                                </tr>
                                <tr align="center">
                                    <td align="left">saree</td>
                                    <td>2</td>
                                    <td>2%</td>
                                    <td>- 20/-</td>
                                    <td align="right">4003</td>
                                    <td align="right">4003</td>
                                </tr>
                                <tr align="center">
                                    <td align="left">saree</td>
                                    <td>2</td>
                                    <td>2%</td>
                                    <td>- 20/-</td>
                                    <td align="right">4003</td>
                                    <td align="right">4003</td>
                                </tr>


                            </tbody>
                        </table>
                        <table class="w-100">
                            <tr align="right">
                                <td align="right">
                            <tr>
                                <td align="right">
                            <tr>
                                <td><span class="strong">Total </span></td>
                            </tr>
                            <tr>
                                <td> <span class="text-light">Discount</span></td>
                            </tr>
                            <tr>
                                <td><span class="text-light">Received (cash)</span></td>
                            </tr>
                            <tr>
                                <td><small class="text-light">Amount Due(INR)</small></td>
                            </tr>
                            </td>
                            <td align="right">
                                <tr>
                                    <td><span class="strong text-uppercase">111</span></td>
                                </tr>
                                <tr>
                                    <td> <span class="text-light">- 74rs</span></td>
                                </tr>
                                <tr>
                                    <td><span class="text-light">300rs</span></td>
                                </tr>
                                <tr>
                                    <td><small class="strong">INR 345/-</small></td>
                                </tr>
                            </td>
                            </tr>
                            </td>
                            </tr>
                        </table>

                    </div>
                    <div class="w-50 d-flex flex-column" style="position: relative;min-height: 50vh;">
                        <h3 class="text-center">Take Payment</h3>
                        <table class="w-100">
                            <tr align="center">
                                <td>Received Amount</td>
                                <td>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Received Amount</mat-label>
                                        <input matInput type="number" placeholder="amount">
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr align="center">
                                <td>Payment Method</td>
                                <td>
                                    <mat-form-field appearance="outline">
                                    <mat-select>
                                        <mat-option value=''>Select Payment Method</mat-option>
                                        <mat-option value="cash">Cash</mat-option>
                                        <mat-option value="upi">UPI</mat-option>
                                        <mat-option value="Net-banking">Net Banking</mat-option>
                                   </mat-select>
                                </mat-form-field>
                                </td>
                            </tr>
                            
                        </table>
                        <div class="spacer"></div>
                        <div class="w-100" style="position: absolute;bottom: 4rem;">
                            
                            <button class="w-100" mat-stroked-button>Apply</button>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>

</div>