<mat-toolbar class="bg-dark rounded-lg dialog-toolbar" style="margin: -24px -24px 24px -24px;padding: 0 .4rem;">
    <button mat-button [mat-dialog-close]="true" class="bg-dark"><span>Cancel</span></button>
    <div class="spacer"></div>
    <small>Item Details</small>
    <div class="spacer"></div>

    <button mat-raised-button class="bg-green">
        <mat-icon>add_shopping_cart</mat-icon>
        <small>Add to cart</small>
    </button>
</mat-toolbar>
<div mat-dialog-content class="">
    <div class="">
        <section class="container" style="min-height: 50vh;">
            <div class="d-flex" style="align-items: flex-start;">
                <figure style="margin:1rem;">
                    <img src=".../../../../../../assets/images/cool-background.png" alt="" class="thumbnail-lg">
                </figure>
                <mat-list dense class="w-100">
                    <mat-list-item>
                        <span class="strong text-light">Item</span>
                        <div class="spacer"></div>
                        <span class="strong">T-shirt</span>
                    </mat-list-item>
                    <mat-list-item>
                        <span class="strong text-light">MRP</span>
                        <div class="spacer"></div>
                        <span class="strong">300</span>
                    </mat-list-item>
                    <mat-list-item>
                        <span class="strong text-light">Stock Price</span>
                        <div class="spacer"></div>
                        <span class="strong">250</span>
                    </mat-list-item>
                    <mat-list-item>
                        <span class="strong text-light">Grade</span>
                        <div class="spacer"></div>
                        <span class="strong">Clothe</span>
                    </mat-list-item>
                    <mat-list-item>
                        <span class="strong text-light">Make</span>
                        <div class="spacer"></div>
                        <span class="strong">Unknown</span>
                    </mat-list-item>
                    <mat-list-item>
                        <span class="strong text-light">Meter</span>
                        <div class="spacer"></div>
                        <span class="strong">Unknown</span>
                    </mat-list-item>
                    <mat-list-item>
                        <span class="strong text-light">Availabilty</span>
                        <div class="spacer"></div>
                        <span class="strong">Out of Stock</span>
                    </mat-list-item>
                    <mat-list-item>
                        <span class="strong text-light">pices</span>
                        <div class="spacer"></div>
                        <span class="strong">37</span>
                    </mat-list-item>
                    <mat-list-item>
                        <span class="strong text-light">QR CODE</span>
                        <div class="spacer"></div>
                        <span class="strong"><mat-icon>qr_code_2</mat-icon></span>
                    </mat-list-item>

                </mat-list>
            </div>
        </section>
        <!-- <section class="container" style="min-height: 50vh;">
            <mat-tab-group mat-align-tabs="start" animationDuration="0ms">
                <mat-tab label="Description">
                    <div class="py-4">
                        <p>These Surrey Forestry hardwood kiln-dried logs are dried in our biomass system. Kiln-dried
                            logs burn longer and hotter than seasoned wood and they are ideal for open fires, chimineas
                            and wood-burning stoves.</p>
                        <p>Our kiln-dried logs have been naturally air-dried first for at least one year before going
                            into the kiln. Our kiln-dried logs are of the highest quality. We use our own kiln to dry
                            them to complete the drying process until they are less than 15% moisture content.</p>
                        <p>A loose load is 100 logs. The wood is all local hardwood. The minimum order is two loads.</p>
                        <p>The minimum order for delivery within a 5-mile radius of Effingham is 200 logs and the
                            delivery charge is £10.</p>
                        <p>500 plus logs ordered for delivery within 5 miles of Effingham will not be subject to a
                            delivery charge.</p>
                        <p>Outside of this area of the minimum order is 500 logs plus a delivery charge of £2.00 per
                            mile outside a 5-mile radius of Effingham. Please press buy now to place this order and then
                            we will be in touch to arrange your delivery cost and payment.</p>
                        <p>If you have any can call us on 01483 285951 for more information.</p>
                        <p>Surrey Forestry are proud to have a low carbon footprint to pass on to our customers.</p>

                    </div>
                </mat-tab>
                <mat-tab label="Review">
                    <div style="min-height: 50vh;">
                        <div class="row align-items-center justify-content-center m-0" style="min-height: 30vh;">
                            <div class="col-12 text-center">
                                <h1 mat-title>No Review</h1>
                                <h5 mat-subtitle>Rate this Product</h5>
                                <button mat-button>Write a product review</button>

                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </section> -->
    </div>

</div>