

<mat-toolbar  class="bg-dark rounded-lg dialog-toolbar" style="margin: -24px -24px 24px -24px;padding: 0 .4rem;">
    <button mat-button [mat-dialog-close]="true" class="bg-dark"><span>Cancel</span></button>
    <div class="spacer"></div>
    <small>Item Details</small>
    <div class="spacer"></div>

    <button mat-raised-button class="bg-green">
        <mat-icon>add_shopping_cart</mat-icon>
        <small>Add to cart</small>
    </button>
</mat-toolbar>
<div mat-dialog-content class="">
    <div class="row justify-content-center py-5 layout">
        <div class="col-md-8 ">
            <section class="container" style="min-height: 50vh;padding: 5% 0;">
                <div class="d-flex">
                    <figure>
                        <img  src=".../../../../../../assets/images/cool-background.png" alt="" class="thumbnail-lg">
                    </figure>
                   
                    <div class="col-lg-6 text-left">
                        <h1 class="mat-title">Kiln-Dried Loose Logs (£50 per 100) </h1>
                        <h1 class="mat-title"><small class="">$ </small>50.00</h1>
                        
                        <ul class="py-2 pl-3">
                            <li>Kiln-dried hardwood loose logs</li>
                            <li>£50 per 100 logs</li>
                            <li>100 logs per load</li>
                            <li>Minimum orders apply – 200 logs for within 5 miles of Effingham, 500 logs for outside of this area</li>
                            <li>Please place your order and pay for your logs and then we will be in touch to confirm the delivery cost and schedule your delivery</li>
                        </ul>
                       
                    </div>
                </div>
            </section>
            
            <section class="container" style="min-height: 50vh;">
                <mat-tab-group mat-align-tabs="start" animationDuration="0ms">
                    <mat-tab label="Description">
                        <div class="py-4">
                            <p>These Surrey Forestry hardwood kiln-dried logs are dried in our biomass system. Kiln-dried logs burn longer and hotter than seasoned wood and they are ideal for open fires, chimineas and wood-burning stoves.</p>
                            <p>Our kiln-dried logs have been naturally air-dried first for at least one year before going into the kiln. Our kiln-dried logs are of the highest quality. We use our own kiln to dry them to complete the drying process until they are less than 15% moisture content.</p>
                            <p>A loose load is 100 logs. The wood is all local hardwood. The minimum order is two loads.</p>
                            <p>The minimum order for delivery within a 5-mile radius of Effingham is 200 logs and the delivery charge is £10.</p>
                            <p>500 plus logs ordered for delivery within 5 miles of Effingham will not be subject to a delivery charge.</p>
                            <p>Outside of this area of the minimum order is 500 logs plus a delivery charge of £2.00 per mile outside a 5-mile radius of Effingham. Please press buy now to place this order and then we will be in touch to arrange your delivery cost and payment.</p>
                            <p>If you have any can call us on 01483 285951 for more information.</p>
                            <p>Surrey Forestry are proud to have a low carbon footprint to pass on to our customers.</p>
            
                        </div>
                    </mat-tab>
                    <mat-tab label="Review">
                        <div style="min-height: 50vh;">
                            <div class="row align-items-center justify-content-center m-0" style="min-height: 30vh;">
                                <div class="col-12 text-center">
                                    <h1 mat-title>No Review</h1>
                                    <h5 mat-subtitle>Rate this Product</h5>
                                    <button mat-button>Write a product review</button>
                               
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                  </mat-tab-group>
            </section>
            
         
        </div>
    </div>

</div>

