<div class="w-100 " style="min-width: 50vw;">
    <h3></h3>
    <div *ngIf="!isNewAddEnable" class="py-2 mb-2">
        <button mat-raised-button class="bg-dark w-100" (click)="isNewAddEnable = true;">
            <mat-icon class="mat-icon-sm pt-1">add</mat-icon>
            <small>Add Brand</small>
        </button>
    </div>
    

    <div *ngIf="isNewAddEnable" class="inline-edit__form d-flex shadow rounded-lg mb-2"
        style="position: relative;align-items: flex-start;justify-content: space-around;min-width: 50vw;">
        <div class="p-5 w-100 bg-dark rounded-lg d-flex justify-content-between align-items-center">
            <mat-form-field appearance="outline" color="accent" class="w-75" style="font-size: 12px;">
                <mat-label>Brand</mat-label>
                <input matInput type="text" [(ngModel)]="newBrand" placeholder="eg:Duke,HRX,Wrogn">
            </mat-form-field>
            <div style="float: right;">
                <button mat-button (click)="isNewAddEnable = false;"><small>Cancel</small></button>
                <button mat-raised-button class="bg-green" (click)="onNewBrandSave()"><small>Save</small></button>
            </div>
        </div>

    </div>
    <div class="brand-list-container ">
        <mat-list *ngIf="brands?.length" dense class="bg-white rounded-lg shadow py-2">
            <mat-list-item>
                <h1>Brands<small class="text-ultra-light px-2">{{brands?.length}}</small></h1>
            </mat-list-item>
            <mat-list-item *ngFor="let brand of brands;let i=index">
                <div *ngIf="!brand.isEditEnable" class="d-flex align-items-center justify-content-between w-100">
                    <span spellcheck="false">{{brand.name | titlecase }}</span>
                    <div>
                        <button mat-icon-button class="text-light" (click)="brand.isEditEnable = true">
                            <mat-icon class="mat-icon-sm pt-0">edit</mat-icon>
                        </button>
                        <button mat-icon-button class="text-light" (click)="onDelete(brand)">
                            <mat-icon class="mat-icon-sm pt-0">delete</mat-icon>
                        </button>
                    </div>
                </div>
                <div *ngIf="brand.isEditEnable"
                    class="inline-edit__list d-flex align-items-center justify-content-between w-100 mb-2">
                    <mat-form-field *ngIf="brand.isEditEnable" appearance="outline" class="w-75 pb-0"
                        style="font-size: 12px;padding-bottom: 0;">
                        <input matInput type="text" [(ngModel)]=brand.name placeholder="eg:Duke,HRX,Wrogn">
                    </mat-form-field>
                    <div>
                        <button mat-button class="text-light mr-1" (click)="brand.isEditEnable = false">
                            <small>cancel</small>
                        </button>
                        <button mat-raised-button class="bg-green" (click)="onSave(brand);brand.isEditEnable = false">
                            <small>save</small>
                        </button>
                    </div>
                </div>
            </mat-list-item>
        </mat-list>
        <app-data-missing-instruction *ngIf="!brands?.length" [(instructions)]="BRAND_MISSING">
        </app-data-missing-instruction>
    </div>
</div>