<mat-toolbar class="bg-dark rounded-lg dialog-toolbar" style="margin: -24px -24px 0px -24px;padding: 0 .4rem;">
    <button mat-button [mat-dialog-close]="false" class="bg-dark"><span>Cancel</span></button>
    <div class="spacer"></div>
    <small>Product Details</small>
    <div class="spacer"></div>

    <button mat-raised-button class="bg-green" (click)="onEdit()">
        <!-- <mat-icon class="mat-icon-sm pt-1">inventory</mat-icon> -->
        <small>Edit</small>
    </button>
</mat-toolbar>
<div mat-dialog-content class="">
    <div class="">

        <section class="container" style="min-height: 65vh;">
            <mat-tab-group mat-align-tabs="start" animationDuration="0ms">
                <mat-tab label="Basic">
                    <div style="min-height: 50vh;">
                        <div class="d-flex" style="align-items: flex-start;">
                            <figure style="margin:1rem;">
                                <img src="assets/images/cool-background.png" alt=""
                                    class="thumbnail-lg">
                            </figure>
                            <mat-list dense class="w-100">
                                <mat-list-item>
                                    <span class="strong text-light">Item</span>
                                    <div class="spacer"></div>
                                    <span class="strong">{{localData?.name | titlecase}}</span>
                                </mat-list-item>
                                <mat-list-item>
                                    <span class="strong text-light">Sell Price</span>
                                    <div class="spacer"></div>
                                    <span class="strong">{{localData?.salePrice | currency : 'INR'}}</span>
                                </mat-list-item>
                                <mat-list-item>
                                    <span class="strong text-light">Offer Price</span>
                                    <div class="spacer"></div>
                                    <span class="strong">{{localData?.offerPrice | currency : 'INR'}}</span>
                                </mat-list-item>
                                <mat-list-item>
                                    <span class="strong text-light">Discount</span>
                                    <div class="spacer"></div>
                                    <span class="strong">{{(localData?.discountInPercentage/100 | percent)}} <span>|
                                            {{localData?.discountInRuppee | currency : 'INR'}}</span></span>
                                </mat-list-item>

                                <mat-list-item>
                                    <span class="strong text-light">Grade</span>
                                    <div class="spacer"></div>
                                    <span class="strong">{{localData?.grade || 'unknown'}}</span>
                                </mat-list-item>
                                <mat-list-item>
                                    <span class="strong text-light">Make</span>
                                    <div class="spacer"></div>
                                    <span class="strong">{{localData?.make || 'unknown'}}</span>
                                </mat-list-item>
                                <mat-list-item>
                                    <span class="strong text-light">Meter</span>
                                    <div class="spacer"></div>
                                    <span class="strong">{{localData?.meter || 'unknown'}}</span>
                                </mat-list-item>

                                <mat-list-item>
                                    <span class="strong text-light">size</span>
                                    <div class="spacer"></div>
                                    <span class="strong">{{localData?.size || 'unknown'}}</span>
                                </mat-list-item>


                            </mat-list>
                        </div>
                    </div>
                </mat-tab>
               
                <mat-tab label="Qr Code">
                    <div style="min-height: 50vh;"></div>
                </mat-tab>
            </mat-tab-group>
        </section>
    </div>

</div>