<mat-dialog-content class="text-center" >
    <div class="text-center d-flex justify-centent-start align-items-center mb-2">
        <mat-icon>lightbulb</mat-icon>
        <small class="px-2 text-light">{{message}}</small>
    </div>
    
</mat-dialog-content>

<div mat-dialog-action class="d-flex" style="margin: 24px -24px -24px -24px;">
    <button  mat-button [mat-dialog-close]="false" class="w-50 bg-ultra-light right-radius" >
        <small>Close</small>
    </button>
    <button mat-raised-button  [mat-dialog-close]="true" class="w-50 bg-dark left-radius" cdkFocusInitial>
        <small>{{action | titlecase}}</small>
    </button>
</div>
