<mat-dialog-content class="" >
    <div class=" d-flex mb-2 w-100" style="text-align: left;align-items: flex-start;">
        <div >
            <mat-icon>lightbulb</mat-icon>
        </div>
        <div class="px-2" style="justify-content: start;flex-direction: column;">
            <small matLine class="text-light strong">{{alertTitle || 'Are you sure?'}}</small><br>
            <small matLine class="text-light">{{message}}</small>
        </div>
    </div>
    
</mat-dialog-content>

<div mat-dialog-action class="d-flex" style="margin: 24px -24px -24px -24px;">
    <button  mat-button [mat-dialog-close]="false" class="w-50 bg-ultra-light right-radius" >
        <small>Close</small>
    </button>
    <button mat-raised-button  [mat-dialog-close]="true" class="w-50 bg-dark left-radius" cdkFocusInitial>
        <small>{{action | titlecase}}</small>
    </button>
</div>
