<app-header></app-header>
<mat-sidenav-container class="sidenav-container ">
    <mat-sidenav #drawer class="sidenav" [mode]="'side'" [opened]="true">
        <mat-nav-list dense>
            <a mat-list-item *ngFor="let link of primaryLinks" routerLink="{{link.path}}" class="layout" 
            routerLinkActive="bg-mygradient-secondary" #rla="routerLinkActive" >
                <mat-icon matListIcon [class.activeLink]="rla.isActive">{{link.icon}}</mat-icon>
                <p matLine [class.activeLink]="rla.isActive"> {{link.name | uppercase}}</p>
            </a>
        </mat-nav-list>
        
          

    </mat-sidenav>
    <mat-sidenav-content>

        <router-outlet></router-outlet>

    </mat-sidenav-content>
</mat-sidenav-container>