header{
    position: fixed;
    display: block;
    width: 100vw;
    top : 0;
    z-index: 2;
  }
  ::ng-deep mat-toolbar mat-toolbar-row .mat-toolbar-row{
    max-height: 48px;
  }
  header mat-toolbar{
    height: 48px;
  }
  .sidenav-container {
    position: fixed;
    top: 3rem;
    width: 100vw;
    height: calc(100% - 3rem);
  }
  .sidenav-container::before{
    content: "";
    position: absolute;top: 0;right: 0;left: 0;bottom: 0;z-index: -1;
    background-image: url(../../assets/images/cool-background.png) no-repeat ;
    background-size: cover;
  }
  
  .sidenav {
    width: var(--sidenav-sm-width );
    // background: transparent!important;
  }
  .column-nav-layout{
    min-height: calc(100vh - 3rem);display:flex;flex-direction: column; justify-content: flex-start;align-self: start;
  }
  mat-nav-list mat-icon,span,p{
      color : var(--dark);
      
  }
  mat-nav-list p{
    font-weight: 600!important;
 
  }
  mat-list-item {
    font-weight: 600!important;
    transition: 1s all;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
 a:is(:active){
   background: darkcyan;
 }

 .mat-icon-container{
  width: 3rem;
  height: 3rem;
  border-radius: 4px;
  // border-radius: 50px;
background: #f57900;
box-shadow:  -20px 20px 60px #d06700,
             20px -20px 60px #ff8b00;
 }
 