<mat-toolbar class="bg-dark rounded-lg dialog-toolbar" style="margin: -24px -24px 0px -24px;padding: 0 .4rem;">
    <button mat-button [mat-dialog-close]="false" class="bg-dark"><span>Cancel</span></button>
    <div class="spacer"></div>
    <small>Inventory Item Details</small>
    <div class="spacer"></div>

    <button mat-raised-button class="bg-green" [mat-dialog-close]="true">
        <small>Edit</small>
    </button>
</mat-toolbar>
<div mat-dialog-content class="">
    <div class="">

        <section class="container" style="min-height: 65vh;">
            <mat-tab-group mat-align-tabs="start" animationDuration="0ms">
                <mat-tab label="Basic">
                    <div style="min-height: 50vh;">
                        <div class="d-flex" style="align-items: flex-start;">
                            <figure style="margin:1rem;">
                                <img src="{{localData?.item?.image || 'assets/images/cool-background.png'}}" alt=""
                                    class="thumbnail-lg">
                            </figure>
                            <mat-list dense class="w-100">
                                <mat-list-item>
                                    <span class="strong text-light">Item</span>
                                    <div class="spacer"></div>
                                    <span class="strong">{{(localData?.item?.name | titlecase) || 'unknown'}}</span>
                                </mat-list-item>
                             
                                <mat-list-item>
                                    <span class="strong text-light">Amount</span>
                                    <div class="spacer"></div>
                                    <span class="strong">{{(localData?.amount | currency:'INR') || 'unknown'}}</span>
                                </mat-list-item>
                                
                                <mat-list-item>
                                    <span class="strong text-light">Quantity</span>
                                    <div class="spacer"></div>
                                    <span class="strong">{{(localData?.quantity ) || 'unknown'}}</span>
                                </mat-list-item>
                                
                                
                                <mat-list-item>
                                    <span class="strong text-light">Date</span>
                                    <div class="spacer"></div>
                                    <span class="strong">{{(localData?.date | data : 'medium' ) || 'unknown'}}</span>
                                </mat-list-item>
                                
                                <div class="px-2 mt-2">
                                    <p class="text-light">{{localData?.description}}</p>
                                </div>
                               

                            </mat-list>
                        </div>
                    </div>
                </mat-tab>
                
            </mat-tab-group>
        </section>
    </div>

</div>