<mat-toolbar class="bg-dark rounded-lg dialog-toolbar" style="margin: -24px -24px 0px -24px;padding: 0 .4rem;">
    <button mat-button [mat-dialog-close]="false" class="bg-dark"><span>Cancel</span></button>
    <div class="spacer"></div>
    <small>Inventory Item Details</small>
    <div class="spacer"></div>

    <button mat-raised-button class="bg-green" (click)="onDone()">
        <!-- <mat-icon class="mat-icon-sm pt-1">inventory</mat-icon> -->
        <small>Done</small>
    </button>
</mat-toolbar>
<div mat-dialog-content class="">
    <div class="">

        <section class="container" style="min-height: 65vh;">
            <mat-tab-group mat-align-tabs="start" animationDuration="0ms">
                <mat-tab label="Basic">
                    <div style="min-height: 50vh;">
                        <div class="d-flex" style="align-items: flex-start;">
                            <figure style="margin:1rem;">
                                <img src="assets/images/cool-background.png" alt=""
                                    class="thumbnail-lg">
                            </figure>
                            <mat-list dense class="w-100">
                                <mat-list-item>
                                    <span class="strong text-light">Item</span>
                                    <div class="spacer"></div>
                                    <span class="strong">{{(localData?.item?.name | titlecase) || 'unknown'}}</span>
                                </mat-list-item>
                             
                                <mat-list-item>
                                    <span class="strong text-light">Stock Price</span>
                                    <div class="spacer"></div>
                                    <span class="strong">{{(localData?.totalStockPrice | currency:'INR') || 'unknown'}}</span>
                                </mat-list-item>
                                <mat-list-item>
                                    <span class="strong text-light">Grade</span>
                                    <div class="spacer"></div>
                                    <span class="strong">{{(localData?.item?.grade | titlecase) || 'unknown'}}</span>
                                </mat-list-item>
                                <mat-list-item>
                                    <span class="strong text-light">Make</span>
                                    <div class="spacer"></div>
                                    <span class="strong">{{(localData?.item?.make | titlecase) || 'unknown'}}</span>
                                </mat-list-item>
                                
                                
                                <mat-list-item>
                                    <span class="strong text-light">pices</span>
                                    <div class="spacer"></div>
                                    <span class="strong">{{(localData?.itemInStock ) || 'unknown'}}</span>
                                </mat-list-item>
                               

                            </mat-list>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Mange Stock">
                    <div style="min-height: 50vh;" class="mange-stock-tab">
                        <div class="d-flex" style="align-items: flex-start;">
                            <figure style="margin:1rem;">
                                <img src="assets/images/cool-background.png" alt=""
                                    class="thumbnail-lg">
                            </figure>
                            <form [formGroup]="manageStockForm" class="w-100">
                                <mat-list dense class="w-100 ">
                                    <mat-list-item>
                                        <span class="strong text-light">Quantity</span>
                                        <div class="spacer"></div>
                                        <mat-form-field appearance="outline" class="">
                                            <mat-label>Quantity</mat-label>
                                            <input matInput placeholder="Qty." formControlName="quantity">
                                        </mat-form-field>
                                    </mat-list-item>
                                    <mat-list-item>
                                        <span class="strong text-light">Price Per Pices</span>
                                        <div class="spacer"></div>
                                        <mat-form-field appearance="outline" class="">
                                            <mat-label>Price</mat-label>
                                            <input matInput placeholder="Price" formControlName="pricePerItem">
                                        </mat-form-field>
                                    </mat-list-item>
                                    <mat-list-item>
                                        <span class="strong text-light">Date</span>
                                        <div class="spacer"></div>
                                        <mat-form-field appearance="outline" class="">
                                            <mat-label>Date</mat-label>
                                            <input matInput type="date" placeholder="Date" formControlName="lastUpdate">
                                        </mat-form-field>
                                    </mat-list-item>
                                    <mat-list-item style="margin-top: 2rem;">
                                        <span class="strong text-light">Notes</span>
                                        <div class="spacer"></div>
                                        <mat-form-field appearance="outline" class="">
                                            <mat-label>Note</mat-label>
                                            <textarea matInput placeholder="notes" formControlName="notes"></textarea>
                                        </mat-form-field>
                                    </mat-list-item>
                                    <mat-list-item>
                                        <mat-radio-group aria-label="Select an option" formControlName="isAddingStock">
                                            <mat-radio-button value="true">Add Stock</mat-radio-button>
                                            <mat-radio-button value="false">Remove Stock</mat-radio-button>
                                        </mat-radio-group>
                                    </mat-list-item>
                                </mat-list>
                            </form>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Stock Transaction">
                    <div style="min-height: 50vh;"></div>
                </mat-tab>
            </mat-tab-group>
        </section>
    </div>

</div>