<section class="w-100 px-5 bg-ultra-light setting-section" style="position:relative;display: flex;flex-direction: column;align-items: center;box-sizing: border-box;">
    <h4 style="float: left;">Account</h4>
    <div class="d-flex shadow mb-2" style="position: relative;align-items: flex-start;justify-content: space-between;min-width: 50vw;">
        <img class="thumbnail-lg" src="assets/images/Platonic_4_-_Bucky0002.png" alt="">
        <!-- <app-photo-upload></app-photo-upload> -->
        <div class="w-100" style="position:relative;height: 15rem;">
            <h4 class="text-center">{{psmUser.name | titlecase}}</h4>
            <div class="d-flex w-100" style="position: absolute;bottom: 0;">
                <button mat-button class="bg-ultra-light w-100" disabled>
                    <mat-icon class="mat-icon-sm pt-1">edit</mat-icon>
                    <small>Edit</small>
                </button>
                
                <button mat-raised-button class="bg-dark w-100" (click)="onLock()">
                    <mat-icon class="mat-icon-sm pt-1">lock</mat-icon>
                    <small>Lock</small>
                </button>
            </div>
        </div>
    </div>
    <mat-list dense class=" text-light shadow" style="width: 50vw;">
        <mat-list-item >
            <div>
                <span class="strong">Password</span>
                <small matLine class="text-light">****</small>
            </div>
            <div class="spacer"></div>
            <button mat-button (click)="onClickChangePassword()"><small>Change</small></button>
        </mat-list-item>
    </mat-list>
</section>