<div class="clock">
    <div class="layout">
        <div class="content">
            <p class='days'>
                <span *ngFor="let day of daysofweek;let i=index" [style.color]="++i == daytoday ? 'white' : ''">{{ day | uppercase}}</span>&nbsp;
            <br>
            <p class='text'><span id='hours'></span>:<span id='min'></span>:<span
                    id='sec'></span>&nbsp;&nbsp;<span id='time'></span></p>
            <p class="text-center">
                {{today | date}}
            </p>
        </div>
    </div>
</div>