// <link href="../node_modules/material-design-icons/iconfont/material-icons.css" rel="stylesheet">
@import '../node_modules/material-design-icons/iconfont/material-icons.css';
@import "~@fontsource/material-icons/index.css";
@import "./assets/style/material-theme.scss";

/* VARIABLES*/
@import './assets/style/_variable.scss';
@import './assets/style/typography.scss';
@import './assets/style/gradients.scss';
@import './assets/style/helper.scss';
@import './assets/style/backgrounds.scss';




.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

html, body { height: 100%; }
body { margin: 0; font-family: Inter, "Helvetica Neue", sans-serif;}

.shadow{
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(58, 57, 68, 0.2);
}
.shadow-1{
    border-radius: 4px;
    box-shadow: 0 12px 18px 2px rgba(34,0,51,.04),0 6px 22px 4px rgba(7,48,114,.12),0 6px 10px -4px rgba(14,13,26,.12)!important;
}
.activeLink{
    font-weight: 200!important;
    color: rgb(255, 255, 255)!important;
}


.text-light{
    color: var(--light);
}
.text-white{
    color: white!important;
}
.text-green{
    color: var(--green);
}
.text-danger{
    color: orange;
}
.text-ultra-light{
    color: var(--light);
    font-size: 1.2rem;
    font-weight: 600;
}
.text-light:hover{
    color: var(--dark);
}
.text-thin{
    font-weight: 200!important;
}
// /force center css
.layout{
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
  }

// MATERIAL OVERWRITE CSS
    mat-toolbar {
        max-height: 48px!important;
        border-radius: none!important;
    }
    mat-toolbar.dialog-toolbar{
        min-width: calc(100% + 48px);
        border-bottom-left-radius: 0!important;
        border-bottom-right-radius: 0!important;

    }
    .wdialog-100{
        min-width: calc(100% + 48px);
    }
    .mat-icon-sm{
        font-size: 1rem;
    }

.thumbnail-md{
    height: 6rem;
    width: 6rem;
    border-radius: 0.2rem;
    flex-shrink: 0;
    object-fit: cover;
    transition: all 0.2s linear
  }
  .thumbnail-lg{
    height: 12rem;
    width: 12rem;
    border-radius: 0.2rem;
    flex-shrink: 0;
    object-fit: cover;
    transition: all 0.2s linear
  }

  .thumbnail-background{
    height: 15rem;
    width: 100%;
    border-radius: 0.2rem;
    flex-shrink: 0;
    object-fit: cover;
    transition: all 0.2s linear
  }

  .thumbnail-sm{
    height: 2rem;
    width: 2rem;
    border-radius: 0.2rem;
    flex-shrink: 0;
    object-fit: cover;
    transition: all 0.2s linear
  }
  .thumbnail-xs{
    height: 2rem;
    width: 2rem;
    border-radius: 0.2rem;
    flex-shrink: 0;
    object-fit: cover;
    transition: all 0.2s linear;
  }
  .text-wrap-sm{
    max-width: 12rem;
    padding: 2px .5rem;
    text-overflow: ellipsis;
    overflow: hidden!important;
    white-space: nowrap;
  }
  .text-wrap-lg{
    max-width: 40rem;
    padding: 2px .5rem;
    text-overflow: ellipsis;
    overflow: hidden!important;
    white-space: nowrap;
  }

//   ITEM CARD PRICE TAG DETAILS
.items-container{
    
    padding: 1rem;
    margin: 3rem 0rem 2rem 0rem;
    max-height: calc(100% - 8rem);
    overflow-y: auto;
}
.dashboard_card_container{
    position: relative;
    padding: 1rem 0;
    margin: 3rem 0rem 2rem 0rem;
    height: calc(100% - 8rem);
    overflow-y: auto;
}
.dashboard_card{
    position: relative;
    display: block;
    min-width: 5rem;
    min-height: 5rem;
    margin: 1rem;
    cursor: pointer;
    // overflow: hidden;
    transition: all 0.2s linear
}
.dashboard_card_container .dashboard_card::before{
    // content: ""; 
    // backdrop-filter: blur(5px);
    // background: -webkit-linear-gradient(45deg, #210046, #0016b900); 
    // background: linear-gradient(45deg, #210046c4, #0016b900); 
    // position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0rem;
}

.grid-view{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.item{
    position: relative;
    display: block;
    min-width: 5rem;
    min-height: 5rem;
    margin: 0rem 1rem 1rem 0rem;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.2s linear
}
.item:is(.active,:hover){
  background: var(--ultra-light);
}
.items-container .item::before{
    content: ""; 
    // backdrop-filter: blur(5px);
    background: -webkit-linear-gradient(45deg, #210046, #0016b900); 
    background: linear-gradient(45deg, #210046c4, #0016b900); 
    position: absolute; left: 0px; right: 0px; top: 0px; bottom: 3rem;}
.item-price{
    position: absolute;
    width: 100%;
    border-radius: 4px;
    top: 0;
    right: 0;
    color : var(--white)!important;
    z-index: 1000;
    // background: var(--ultra-light);
    background: linear-gradient(180deg, #21004646, rgba(0, 0, 0, 0)); 
    font-weight: 600;
}
.card-item-details{ 
    position: absolute;
    bottom: 3rem;
    background: linear-gradient(0deg, #21004646, rgba(0, 0, 0, 0)); 
}
.card-item-details mat-list-item  h3,p{ 
//    color: white;
   font-size: 1rem;
   font-weight: 600;
}
.list-view-details mat-list-item  h3,p{ 
    // color: light;
    font-size: 1rem;
    font-weight: 600;
 }
.item-list-view{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    // margin: 1rem;
    margin:1rem 0;
    width:  calc(90% -3rem );
    // min-width: var(--item-list-view-width );
    padding-right: 1rem;
    cursor: pointer;
}
.item-list-view .price-column{
    min-width: 7.5rem;
    text-align: right;
    font-size: 12px;
}
.item-list-view .price-column-sm{
    min-width: 4.5rem;
    text-align: right;
    font-size: 12px;
}
.date-column{
    min-width: 9rem;
    width: 9rem;
    text-align: right;
}
.item-list-view:is(.active,:hover){
    background: var(--ultra-light);
  }
  .items-container-table-view{
    margin: 3rem 0rem 2rem 0rem;
    padding: 0 1rem;
    max-height: calc(100% - 6rem);
    overflow-y: auto;
  }
  .items-container-table-view mat-card{
    padding: 0px;
    margin-bottom: 1rem;
    box-shadow: none!important;
  }
  .items-container mat-card{
    padding: 0px;
    margin-bottom: 1rem;
    box-shadow: none!important;
  }
.table-column{
    min-width: 6rem;
    max-width: 6rem;
    padding: 0 1rem;
    text-align: right;
}
.table-column-sm{
    min-width: 6rem;
    max-width: 6rem;
    padding: 0 1rem;
    text-align: right;
}
button.btn-box{
    max-height: 1.5rem!important;
    max-width: 1.5rem!important;
    min-width: 1.5rem!important;
    
    padding: 0;  
    align-items: center;
    justify-content: center;
    display:flex ;
    background: var(--ultra-light);
}
.item-count-container{
    min-width: 5rem;
    min-height: 1rem;
    border: 1px solid var(--ultra-light);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}
.item-count-box{
    position: relative;
    display: flex;
    min-width: 2rem;
    width: 100%;
    padding: 0 .2rem;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.items-container,.item-list-view ,.item{
    -webkit-animation: fadeIn ease-in-out 450ms;
     animation: fadeIn ease-in-out 450ms;
  }
  .fadeIn{
    -webkit-animation: fadeIn ease-in-out 450ms;
          animation: fadeIn ease-in-out 450ms;
  }
  @keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.instruction-section{
    -webkit-animation: fadeIn ease-in-out 1000ms;
     animation: fadeIn ease-in-out 1000ms;
}
.dashboard-section{
    -webkit-animation: fadeIn ease-in-out 1000ms;
     animation: fadeIn ease-in-out 1000ms;
}
button.right-radius{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
button.left-radius{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
}
.rounded-0{
    border-radius: 0!important;
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
	// width: 3rem;
    height: .9rem;
    border-radius: 4px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 4px;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 4px;
}
.color-box{
    width: 4rem;
    height: 2rem;
    border-radius: 4px;
}
.color-box{
    width: 4rem;
    height: 1.5rem;
    border-radius: 4px;
}
.color-box-sm{
    width: .8rem;
    height: .8rem;
    border-radius: 4px; 
}


