<mat-sidenav-container class="sidenav-newsale-container">
    <mat-sidenav class="sidenav-checkout" [mode]="'side'" [opened]="true" position="end">
        <app-filter [(data)]="items" (onFilter)="onApplyFilter($event)"></app-filter>

    </mat-sidenav>

    <mat-sidenav-content style="position: relative;" >
        <mat-toolbar class="bg-white shadow" style="position: absolute;top:0">
            <h3>Product<small class="text-ultra-light px-2" id="count"></small></h3>
            
            <span class="spacer"></span>
            
            
            <app-search (onSearch)="onSearchEvent($event)"></app-search>
            <button mat-icon-button matTooltip="Change view" class="mx-2 rounded-lg" (click)="isListView = !isListView" >
                <mat-icon class="mat-icon-sm pt-0">{{isListView ? 'view_list' : 'grid_view'}}</mat-icon>
            </button>
            <button mat-raised-button class="mx-2 mr-1 rounded-lg bg-green" (click)="openAddUpdateProduct()">
                <mat-icon class="mat-icon-sm pt-1">add_box</mat-icon>
                <small>Add Product</small>
            </button>

        </mat-toolbar>
        <app-product-item [(data)]="items" [cartItems]="cart" [(view)]="isListView" [(searchText)]="searchText"
        (shareCart)="onCartData($event)" (onDialogClose)="onDialogClose($event)"
         ></app-product-item>

        <app-data-missing-instruction *ngIf="!items?.length" [(instructions)]="missingDataInstruction"></app-data-missing-instruction>

        <mat-toolbar *ngIf="cart?.length"
        class="mat-elevation-z16 " 
        style="position: absolute;bottom: 0;z-index: 15;">

            <span class="px-5">{{cart?.length || '0'}} | <small>Item</small></span>

            <div class="spacer"></div>
            <button mat-button class="w-100 bg-green" (click)="onViewCart()" >
                <mat-icon class="mat-icon-sm pt-1">shopping_cart</mat-icon>
                <span class="px-3 fancy-text text-uppercase">view cart</span>
            </button>
            <div class="spacer"></div>
            <span class="px-5">{{getCartTotal() | currency :'INR'}}</span>
            <!-- <mat-paginator 
             [length]="items.length" 
             [pageSize]="10" 
             [pageSizeOptions]="[5, 10, 25, 100]" 
             aria-label="Select page" style="max-height: 3rem;margin: 0;padding: 0;">
            </mat-paginator> -->
        </mat-toolbar>
    </mat-sidenav-content>
</mat-sidenav-container>